ul.breadcrumb{
  padding:5px;
  margin:5px;
  background: #fff;
  display:inline-block;
}
.well{
  background:#fff;
}
.add-leads-form .col-xs-12{
  padding:10px 10px 10px 20px;
}
.add-leads-form-top-input{
  padding:10px 10px 10px 30px!important;
}
h3{
  margin-left:15px;
}

.heading-lower{
  margin-left:-20px!important;
}