<div class="container-fluid">
	<div class="col-md-12 col-sm-12">
		<div class="well well-sm">
			<ul class="breadcrumb">
				<li><a routerLink="/dashboard">Home</a></li>
				<li><a routerLink="/allinvoice">Invoice</a></li>
				<li>All Invoice</li>
				<li><a routerLink="/addinvoice">Add Invoice</a></li>
			</ul>

		</div>
		<div class="panel panel-danger" id="all-invoice-panel">
				<div class="panel-body" ><span class="fa fa-paper-plane"></span>  All Invoice</div>
				<table class="table table-responsive table-striped table-hover">
						<thead>
							<tr>
								<th>S.No.</th>
								<th colspan="2">Client</th>
								<th colspan="2">Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td colspan="2"> Sumit </td>
								<td colspan="2">Pending</td>
							</tr>
							<tr>
								<td>2</td>
								<td colspan="2"> Sumit </td>
								<td colspan="2">Pending</td>
							</tr>
							<tr>
								<td>3</td>
								<td colspan="2"> Sumit </td>
								<td colspan="2">Pending</td>
							</tr>
							<tr>
								<td>4</td>
								<td colspan="2"> Sumit </td>
								<td colspan="2">Pending</td>
							</tr>
							<tr>
								<td>5</td>
								<td colspan="2"> Sumit </td>
								<td colspan="2">Pending</td>
							</tr>
							<tr>
								<td>6</td>
								<td colspan="2"> Sumit </td>
								<td colspan="2">Pending</td>
							</tr>
							<tr>
								<td>7</td>
								<td colspan="2"> Sumit </td>
								<td colspan="2">Pending</td>
							</tr>
							<tr>
								<td>8</td>
								<td colspan="2"> Sumit </td>
								<td colspan="2">Pending</td>
							</tr>
							<tr>
								<td>9</td>
								<td colspan="2"> Sumit </td>
								<td colspan="2">Pending</td>
							</tr>
							<tr>
								<td>10</td>
								<td colspan="2"> Sumit </td>
								<td colspan="2">Pending</td>
							</tr>
						</tbody>
				</table>
		</div>
	</div>    
</div>