<div class="wrapper">
	<div class="sidebar" data-background-color="white" data-active-color="danger">
		<sidebar-cmp></sidebar-cmp>
	</div>
	<div class="main-panel">
		<navbar-cmp></navbar-cmp>
		<div class="content">
			<div class="container-fluid">
				<div class="col-md-12 col-sm-12">
					<div class="well well-sm">
						<ul class="breadcrumb">
							<li><a routerLink="/dashboard">Home</a></li>
							<li><a routerLink="/leads">Leads</a></li>
							<li><a routerLink="/allLeads"></a>Purchase Order</li>
							<li><a routerLink="/archiveleads">Archive Leads</a></li>
						</ul>																								
						
					</div>
					<div class="panel panel-danger" id="all-leads-panel">
						<div class="panel-body" ><span class="fa fa-paper-plane"></span>Pending Purchase Order</div>
						<div class="orders">
								<div class=" orderBlock" *ngFor="let quote of uQuotes">
									<h4><span class="fa fa-truck"></span> {{quote.requestedBy}} Of {{quote.companyName}}</h4>
									<table class="table">
										<tbody>
											<tr><p><b>location: </b> {{quote.customerSite}}</p></tr>
											<tr><p><b>Generation Date : </b> {{quote.generationDate}}</p></tr>
											<tr><p><b>Quantity: </b> {{quote.quantity}}</p></tr>
											<tr><p><b>Quality: </b> {{quote.quality}}</p></tr>
											<tr><p><b>Price : </b> {{quote.price}}</p></tr>
											<tr><p><b>Valid Till Date: </b> {{quote.validTill}}</p></tr>
											<tr><button class="btn btn-success" type="button" (click)="onConfirm(quote._id)"> Purchase </button></tr>
										</tbody>
									</table>	
								</div>
						</div>
					</div>

					<div class="panel panel-danger" id="all-leads-panel">
						<div class="panel-body" ><span class="fa fa-paper-plane"></span> Confirmed Purchase Order</div>
						<div class="orders">
								<div class=" orderBlock" *ngFor="let quote of aQuotes">
									<h4><span class="fa fa-truck"></span> {{quote.requestedBy}} Of {{quote.companyName}}</h4>
									<table class="table ">
										<tbody>
											<tr><p><b>location: </b> {{quote.customerSite}}</p></tr>
											<tr><p><b>Generation Date : </b> {{quote.generationDate}}</p></tr>
											<tr><p><b>Quanitiy</b> {{quote.quantity}}</p></tr>
											<tr><p><b>Quality </b> {{quote.quality}}</p></tr>
											<tr><p><b>Price : </b> {{quote.price}}</p></tr>
											<tr><p><b>Valid Till Date: </b> {{quote.validTill}}</p></tr>
										</tbody>
									</table>	
								</div>
						</div>
					</div>




					<!--	<table class="table table-responsive table-striped table-hover">
							<thead>
								<tr>
									<th colspan="2">Project Name</th>
									<th>Client</th>
									<th>Payment</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let lead of allLeads">
									<td colspan="2">
										<a [routerLink] = "['/leads/details/', lead.project_id]"> {{lead.project_name}} </a> <br>
										<span class="text-warning"><span class="fa fa-clock-o"></span>{{lead.project_add_date}}</span>
										<br>
										<span class="icon-success"><span class="fa fa-android"></span></span>
				
									</td>
									<td>   <b>{{lead.project_client_name}}</b>   <br>
											<span class="text-primary"> <span class="fa fa-envelope"></span> {{lead.project_client_email}}</span> <br>
										<span class="text-info"> <span class="fa fa-mobile-phone"></span> {{lead.project_client_contact_no}}</span>    
									</td>
									<td> 
											Est-budget:<b><span *ngIf="lead.project_budget_unit == 1" class="fa fa-rupee"></span>
												<span  *ngIf="lead.project_budget_unit == 2" class="fa fa-dollar"></span>{{lead.project_estimate_budget}}</b><br>
											Upfront:<b><span *ngIf="lead.project_budget_unit == 1" class="fa fa-rupee"></span>
												<span  *ngIf="lead.project_budget_unit == 2" class="fa fa-dollar"></span>{{lead.project_payment_amount}}</b><br>
											<span class="fa fa-clock-o"></span>{{lead.project_payment_recieved_date}}
									</td>
									<td>
										<span class="label .Custom_label {{lead.project_status_class_name}}">{{lead.project_status_name}}</span>
										<p> <b>{{lead.user_name}}</b> </p>
									</td>
								</tr>
								 <tr>
									<td colspan="2">Web and App development <br>
										<span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
										<br>
										<span class="icon-primary"><span class="fa fa-globe"></span></span>
										<span class="icon-success"><span class="fa fa-android"></span></span>
										<span class="icon-info"><span class="fa fa-apple"></span></span>
									</td>
									<td>   <b>Akshat Ghale</b>   <br>
											<span class="text-primary"> <span class="fa fa-envelope"></span> ak.ghale@orkut.com</span> <br>
										<span class="text-info"> <span class="fa fa-mobile-phone"></span> 325356366</span>    
									</td>
									<td> 
											Est-budget:<b><span class="fa fa-rupee"></span>24,25,300</b> 
									</td>
									<td>
										<span class="label label-warning">Ongoing Gathering</span>
										<p> <b>Bhanu Agrawal</b> </p>
									</td>
								</tr>
								<tr>
									<td colspan="2">Web development <br>
										<span class="text-warning"><span class="fa fa-clock-o"></span>Dec 18, 2017</span>
										<br>
										<span class="icon-primary"><span class="fa fa-globe"></span></span>
									</td>
									<td>   <b>Manohar Mishra</b>   <br>
											<span class="text-primary"> <span class="fa fa-envelope"></span> manohar.harhar@gmail.com</span> <br>
										<span class="text-info"> <span class="fa fa-mobile-phone"></span> 4312758793827</span>    
									</td>
									<td> 
											Est-budget:<b><span class="fa fa-dollar"></span>325,000</b> 
									</td>
									<td>
										<span class="label label-warning">Development Ongoing</span>
										<p> <b>Kartika Mishra</b> </p>
									</td>
								</tr>
								<tr>
									<td colspan="2">App development <br>
										<span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
										<br>
										<span class="icon-success"><span class="fa fa-android"></span></span>
									</td>
									<td>   <b>Ram Sharma</b>   <br>
											<span class="text-primary"> <span class="fa fa-envelope"></span> ram.sharma@gmail.com</span> <br>
										<span class="text-info"> <span class="fa fa-mobile-phone"></span> 8763645362</span>    
									</td>
									<td> 
											Est-budget:<b><span class="fa fa-rupee"></span>45000</b> 
									</td>
									<td>
										<span class="label label-warning">Requirement Gathering</span>
										<p> <b>Prachi Agrawal</b> </p>
									</td>
								</tr>
								<tr>
									<td colspan="2">Web and App development <br>
										<span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
										<br>
										<span class="icon-primary"><span class="fa fa-globe"></span></span>
										<span class="icon-success"><span class="fa fa-android"></span></span>
										<span class="icon-info"><span class="fa fa-apple"></span></span>
									</td>
									<td>   <b>Akshat Ghale</b>   <br>
											<span class="text-primary"> <span class="fa fa-envelope"></span> ak.ghale@orkut.com</span> <br>
										<span class="text-info"> <span class="fa fa-mobile-phone"></span> 325356366</span>    
									</td>
									<td> 
											Est-budget:<b><span class="fa fa-rupee"></span>24,25,300</b> 
									</td>
									<td>
										<span class="label label-warning">Ongoing Gathering</span>
										<p> <b>Bhanu Agrawal</b> </p>
									</td>
								</tr>
								<tr>
									<td colspan="2">Web development <br>
										<span class="text-warning"><span class="fa fa-clock-o"></span>Dec 18, 2017</span>
										<br>
										<span class="icon-primary"><span class="fa fa-globe"></span></span>
									</td>
									<td>   <b>Manohar Mishra</b>   <br>
											<span class="text-primary"> <span class="fa fa-envelope"></span> manohar.harhar@gmail.com</span> <br>
										<span class="text-info"> <span class="fa fa-mobile-phone"></span> 4312758793827</span>    
									</td>
									<td> 
											Est-budget:<b><span class="fa fa-dollar"></span>325,000</b> 
									</td>
									<td>
										<span class="label label-warning">Development Ongoing</span>
										<p> <b>Kartika Mishra</b> </p>
									</td>
								</tr>
								<tr>
									<td colspan="2">App development <br>
										<span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
										<br>
										<span class="icon-success"><span class="fa fa-android"></span></span>
									</td>
									<td>   <b>Ram Sharma</b>   <br>
											<span class="text-primary"> <span class="fa fa-envelope"></span> ram.sharma@gmail.com</span> <br>
										<span class="text-info"> <span class="fa fa-mobile-phone"></span> 8763645362</span>    
									</td>
									<td> 
											Est-budget:<b><span class="fa fa-rupee"></span>45000</b> 
									</td>
									<td>
										<span class="label label-warning">Requirement Gathering</span>
										<p> <b>Prachi Agrawal</b> </p>
									</td>
								</tr>
								<tr>
									<td colspan="2">Web and App development <br>
										<span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
										<br>
										<span class="icon-primary"><span class="fa fa-globe"></span></span>
										<span class="icon-success"><span class="fa fa-android"></span></span>
										<span class="icon-info"><span class="fa fa-apple"></span></span>
									</td>
									<td>   <b>Akshat Ghale</b>   <br>
											<span class="text-primary"> <span class="fa fa-envelope"></span> ak.ghale@orkut.com</span> <br>
										<span class="text-info"> <span class="fa fa-mobile-phone"></span> 325356366</span>    
									</td>
									<td> 
											Est-budget:<b><span class="fa fa-rupee"></span>24,25,300</b> 
									</td>
									<td>
										<span class="label label-warning">Ongoing Gathering</span>
										<p> <b>Bhanu Agrawal</b> </p>
									</td>
								</tr>
								<tr>
									<td colspan="2">Web development <br>
										<span class="text-warning"><span class="fa fa-clock-o"></span>Dec 18, 2017</span>
										<br>
										<span class="icon-primary"><span class="fa fa-globe"></span></span>
									</td>
									<td>   <b>Manohar Mishra</b>   <br>
											<span class="text-primary"> <span class="fa fa-envelope"></span> manohar.harhar@gmail.com</span> <br>
										<span class="text-info"> <span class="fa fa-mobile-phone"></span> 4312758793827</span>    
									</td>
									<td> 
											Est-budget:<b><span class="fa fa-dollar"></span>325,000</b> 
									</td>
									<td>
										<span class="label label-warning">Development Ongoing</span>
										<p> <b>Kartika Mishra</b> </p>
									</td>
								</tr> 
							</tbody>
						</table>
						<a (click)="loadMoreAllLeads()" [ngClass]="(moreLeadsLeft) ? 'inactive-link' : '' " class="load-more-my-leads">
                            <span class="center">Load More</span> 
                        </a> -->
					
				</div>    
			</div>
		</div>
		<footer-cmp></footer-cmp>
	</div>
</div>
