<div class="container-fluid">
  <div class="col-md-12 col-sm-12">
		<div class="well well-sm">
			<ul class="breadcrumb">
				<li><a routerLink="/dashboard">Home</a></li>
				<li><a routerLink="/allinvoice">Invoice</a></li>
				<li><a routerLink="/allinvoice">All Invoice</a></li>
				<li>Add Invoice</li>
			</ul>
		</div>
	<div class="panel panel-primary" id="dashboard-top-panel">
	  <div class="panel-body " id="dashboard-top-panel-body"> <span class="fa fa-paper-plane"></span>Add Invoice</div>
	  <form>
		<div class="row add-invoice-form">
		  <div class="col-md-12 col-xs-12">
			<div class="form-group">
			  <label>Client Name</label>
			  <input type="text" class="form-control border-input" placeholder="Client Name" >
			</div>
		  </div>
		  <div class="col-md-6 col-xs-12">
			<div class="form-group">
				<label>Invoice Status</label>
				<select name="Source">
					<option value="volvo">Invoice Sent</option>
					<option value="saab">Pending</option>
					<option value="fiat">Partially Paid</option>
					<option value="audi">Amount Received</option>
				</select>
			</div>
		</div>
		  <div class="col-md-6 col-xs-12">
			<div class="form-group">
			  <label>Select File</label>
			  <input type="file" class="form-control border-input" placeholder="Invoice Upload">
			</div>
		  </div>
		  <hr>
		  <div class="row add-leads-submit-button">
			<div class="col-md-4 col-md-offset-4 ">
			  <button class="btn btn-success" type="submit">
				Submit
			  </button>
			  <button class="btn btn-info" type="button">
				Reset Form
			  </button>
			</div>
		  </div>

		</div>

	  </form>
	</div>
  </div>
</div>