ul.breadcrumb{
    padding:5px;
    margin:5px;
    background: #fff;
    display:inline-block;
  }
  .well{
    background:#fff;
  }
.add-invoice-form{
    padding:15px;
    padding-block-end: 0px;
}

.add-invoice-form div div select{
    display: block;
    width:98%;
    background:#fff;
    font-size:15px;
    height:40px;
    border-radius:5px;
    padding:10px;
}