ul.breadcrumb{
    padding:5px;
    margin:5px;
    background: #fff;
    display:inline-block;
}
.well{
    background:#fff;
}

table{
    width:96%;
    padding:15px;
    margin:10px 15px 15px 20px;
    margin-bottom: 30px!important;
}
.project-status-update div{
    font-size:16px!important;
    vertical-align:middle;
    margin-bottom:0px;
    padding:10px;
}
.project-status-update div select{
    color:#3f3f3f;
    background: #fff;
    border-radius: 5px;
    border:1px solid #3f3f3f;
    vertical-align: middle;
    padding:6px;
}
.detail-property-name{
    width:40%;
    font-weight:bold;
    padding:10px;
    border-right:1px solid #a9a9a9;
}

.detail-property-value{
    width:60%;
    font-size: 18px!important;
    padding:10px;
}
#project_current_status{
    padding:5px 20px 0px 10px;
    font-size:18px;
    border:1px solid #3f3f3f;
}

button.btn-primary, button.btn-primary:focus, button.btn-primary:visited{
    border:2px solid #3ead98;
    font-size:18px; 
    color:#3ead96;
}
button.btn-primary:hover{
    background:#3ead98;
    font-size:18px; 
    color:#fff;
}
.lead-detail-budget{
    background:#3ead98!important;
    color:#fff!important;
    font-size:16px!important;
    width:auto;
    display: inline-block;
    padding:5px;

}
.progressTextArea{
    height:180px;
}

.progressForm{
    width:95%;
}

.addProgressBtn{
    font-size:18px;
    color:#fff;
    background: #000!important;
    padding:2px;
    border-radius:15px;
}
.leadExpectedUpfront td div a{
    font-size:20px !important;
    color:#f1bf18;
    cursor:pointer;
}

.upfrontCurrency select{
    display:block;
    width:80px;
    background:#fff;
    color:#3f3f3f;
    border-radius:8px;
}
.upfrontForm div div select{
    vertical-align: middle;
    padding:5px;
    background: #fff;
    border-radius: 5px;
    border:1px solid #3f3f3f;
    width:90%;
}

.upfrontForm div div input{
    border:1px solid #3f3f3f;
    background:#fff;
    color:#000;
    padding:5px;
    border-radius: 5px;
}
.upfrontForm div div.form-group{
    padding:10px;
    margin-top:10px;
}
.callLogsEntries div{
    padding:5px;
    background:#fbfbfb;
    color:#3f3f3f;
    border-radius: 5px;
    margin:15px;
    display: inline-block;
    /* border:2px solid #3f3f3f; */
}
.callLogsEntries div{
    font-size: 14px;
    color:#9d9d9d;
    width:stretch;
}
.callLogsEntries div span{
    color:#f1bf18;
    font-size:14px;
}
span.fa-edit{
    color:#f1bf18;
    font-size:24px!important;
    cursor: pointer;
}
span.danger{
    color:#d43e2a!important;
    font-size:24px!important;
    margin-left: 10px;
    cursor: pointer;
}
.callLogsEntries div p{
    font-size: 20px;
    color:#3f3f3f;
    font-weight: 500;
}
.callLogsEntries div p.callLogBy{
    font-size: 14px!important;
    color:#3f3f3f;
    font-weight: 900;
}