<div class="wrapper">
	<div class="sidebar" data-background-color="white" data-active-color="danger">
		<sidebar-cmp></sidebar-cmp>
	</div>
	<div class="main-panel">
		<navbar-cmp></navbar-cmp>
		<div class="content">
			<div class="container-fluid">
					<div class="col-md-12 col-sm-12">
						<div class="well well-sm">
							<ul class="breadcrumb">
								<li><a routerLink="/dashboard">Home</a></li>
								<li><a routerLink="/leads">Leads</a></li>
								<li>Leads Details</li>
							</ul>
						</div>
						<div>
							<div class="col-md-7" *ngIf="toggle">
								<div class="panel panel-danger" id="all-leads-panel">
									<div class="panel-body" ><span class="fa fa-paper-plane"></span> Leads Details
										<button class="btn pull-right" [disabled]="editPermission" type="button" (click)="toggleView()" >Edit This Lead</button>
									</div>
									<table class="table">
										<tbody>
											<tr class="lead-detail-tr">
												<td class="detail-property-name">Project Name</td>
												<td class="detail-property-value">{{leadsDetails.project_name}}</td>
											</tr>
											<tr class="lead-detail-tr">
												<td class="detail-property-name">Client Name</td>
												<td class="detail-property-value">{{leadsDetails.project_client_name}}</td>
											</tr>
											<tr class="lead-detail-tr leadExpectedUpfront">
												<td class="detail-property-name">Expected Upfront</td>
												<td class="detail-property-value"><span *ngIf="leadsDetails.project_budget_unit == 1" class="fa fa-rupee"></span>
													<span  *ngIf="leadsDetails.project_budget_unit == 2" class="fa fa-dollar"></span> {{leadsDetails.project_payment_amount}}
													<span class="fa fa-clock-o"></span> {{leadsDetails.project_payment_recieved_date}}
													<div class="pull-right">
													<a data-toggle="modal" [ngClass]="(editPermission) ? 'inactive-link' : '' " data-target="#updateUpfrontModal"> <span class="fa fa-edit"></span>Edit </a>
													</div>
													
												</td>
											</tr>
											<tr class="lead-detail-tr">
												<td class="detail-property-name">Estimated Budget</td>
												<td class="detail-property-value">
													<div class="lead-detail-budget">
														<span *ngIf="leadsDetails.project_budget_unit == 1" class="fa fa-rupee"></span>
														<span  *ngIf="leadsDetails.project_budget_unit == 2" class="fa fa-dollar"></span>{{leadsDetails.project_estimate_budget}}
													</div>
												</td>
											</tr>
											<tr class="lead-detail-tr">
												<td class="detail-property-name">Client Mobile</td>
												<td class="detail-property-value"><span class="fa fa-mobile-phone"></span>{{leadsDetails.project_client_contact_no}}</td>
											</tr>
											<tr class="lead-detail-tr">
												<td class="detail-property-name">Client Email</td>
												<td class="detail-property-value">{{leadsDetails.project_client_email}}</td>
											</tr>
											<tr class="lead-detail-tr">
												<td class="detail-property-name">Source</td>
												<td class="detail-property-value">{{leadsDetails.source_name}}</td>
											</tr>
											<tr class="lead-detail-tr">
												<td class="detail-property-name">Status</td>
												<td class="detail-property-value"><span class="label .Custom_label {{leadsDetails.project_status_class_name}}">{{leadsDetails.project_status_name}}</span> - {{leadsDetails.current_status_by}}</td>
											</tr>
											<tr class="lead-detail-tr">
												<td class="detail-property-name">Update Status</td>
												<td class="detail-property-value">
													<form [formGroup]="updateStatusForm" class="project-status-update">
														<div class="form-group col-md-7" >
															<select name="Source" [(ngModel)]="leadsDetails.project_current_status" formControlName="currentStatus">
																<option value="{{status.project_status_id}}"  *ngFor="let status of projectStatus"  >{{status.project_status_name}}</option>
															</select>
														</div>
														<div class="col-md-4">
															<button class="btn btn-primary" [disabled]="editPermission" (click)="updateLeadsStatus()" type="button">Update Status</button>
														</div>
														<span class="clear"></span>
													</form>
												</td>
											</tr>
											<tr class="lead-detail-tr">
												<td class="detail-property-name">Description</td>
												<td class="detail-property-value" >{{leadsDetails.project_description}}</td>
											</tr>
											<tr class="lead-detail-tr">
												<td class="detail-property-name">Project Manager</td>
												<td class="detail-property-value">{{leadsDetails.user_name}}</td>
											</tr>
										</tbody>
									</table>
								</div>
						</div>
						<!-- <div class="col-md-7" *ngIf="!toggle">
							<div class="panel panel-danger" id="all-leads-panel">
								<div class="panel-body" ><span class="fa fa-paper-plane"></span> Cancel Editing
									<button class="btn pull-right" type="button" (click)="toggleView()">Edit This Lead</button>
								</div>
								<form [formGroup]="editLeadForm">
								<table class="table">
									<tbody>
										<tr class="lead-detail-tr">
											<td class="detail-property-name">Project Name</td>
											<input type="text" class="form-control border-input" formControlName="projectName" placeholder="Project Name" value="{{leadsDetails.project_name}}">
										</tr>
										<tr class="lead-detail-tr">
											<td class="detail-property-name">Client Name</td>
											<input type="text" class="form-control border-input" formControlName="clientName" placeholder="Client Name" value="{{leadsDetails.project_client_name}}">
										</tr>
										<tr class="lead-detail-tr">
											<td class="detail-property-name">Client Mobile</td>
											<input type="text" class="form-control border-input" formControlName="clientContact" placeholder="Contact No." value="{{leadsDetails.project_client_contact_no}}">
										</tr>
										<tr class="lead-detail-tr">
											<td class="detail-property-name">Client Email</td>
											<input type="text" class="form-control border-input" placeholder="Email" formControlName="email" value="{{leadsDetails.project_client_email}}">
										</tr>
										<tr class="lead-detail-tr">
											<td class="detail-property-name">Source</td>
											<select name="Source" formControlName="source">
												<option value="{{source.source_id}}"  *ngFor="let source of projectSources">{{source.source_name}}</option>
											</select>
										</tr>
										<tr class="lead-detail-tr">
											<td class="detail-property-name">Estimated Budget</td>
											<td class="detail-property-value">
												<div class="lead-detail-budget">
													<select name="Source" formControlName="currency">
														<option value="{{currency.currency_unit_id}}" selected="leadDetails.project_budget_unit == currency.currency_unit_id" *ngFor="let currency of currency"> {{currency.currency_unit_text}}</option>
													</select>
													<input type="text" class="form-control border-input" formControlName="budget" placeholder="Enter Amount" value="{{leadsDetails.project_estimate_budget}}">
												</div>
											</td>
										</tr>
										<tr class="lead-detail-tr">
											<td class="detail-property-name">Status</td>
											<td class="detail-property-value"><span class="label .Custom_label {{leadsDetails.project_status_class_name}}">{{leadsDetails.project_status_name}}</span></td>
										</tr>
										<tr class="lead-detail-tr">
											<td class="detail-property-name">Update Status</td>
											<td class="detail-property-value">
												<div class="form-group col-md-7">
													<select name="project_current_status" id="project_current_status" class="form-control" required="">
														<option value="1">Requirement Gathering</option>
														<option value="2" selected="leadsDetails.project_current_status == 2">Proposal Sent</option>
														<option value="3">Follow up</option>
														<option value="4">Converted</option>
														<option value="5">Upfront Amount Received</option>
														<option value="6">Irrelevant</option>
														<option value="7">Tata Bye Bye</option>
														<option value="8">Not Responding</option>
													</select>
												</div>
												<div class="col-md-5">
													<button class="btn btn-primary" type="submit">Update Status</button>
												</div>
											</td>
										</tr>
										<tr class="lead-detail-tr">
											<td class="detail-property-name">Country</td>
											<select name="Source" formControlName="country">
												<option value="{{country.country_id}}" selected="leadDetails.country_id == country.country_id" *ngFor="let country of countries">{{country.country_name}}</option>
											</select>
										</tr>
										<tr class="lead-detail-tr">
											<td class="detail-property-name">City</td>
											<input type="text" formControlName="city" class="form-control border-input" placeholder="Enter City" value="{{leadDetails.city}}">
										</tr>
										<tr class="lead-detail-tr">
											<td class="detail-property-name">Description</td>
											<textarea formControlName="description" [innerHtml]=leadsDetails.project_description name="desc"></textarea>
											<td class="detail-property-value" [innerHtml]=leadsDetails.project_description></td>
										</tr>
										<tr class="lead-detail-tr">
											<td class="detail-property-name">Project Manager</td>
											<select name="Source" formControlName="leadManager">
												<option value="{{user.user_id}}" selected="leadDetails.user_id = user.user_id" *ngFor="let user of leadManagers">{{user.user_name}}</option>
											</select>
										</tr>
									</tbody>
								</table>
								</form>
							</div>
						</div> -->
						<div class="col-md-7" *ngIf="!toggle">
							<div class="panel panel-danger" id="all-leads-panel">
								<div class="panel-body" ><span class="fa fa-paper-plane"></span> Leads Details
									<button class="btn pull-right" type="button" (click)="toggleView()">Cancel</button>
								</div>
								<form [formGroup]="editLeadForm">
									<div class="add-leads-form">
										<div class="col-md-12">
											<h3>Project Details</h3>
										</div>
										<hr>
										<div class="col-md-6 add-leads-form-top-input col-xs-12">
											<div class="form-group">
												<label>Project Name</label>
												<input type="text" class="form-control border-input" formControlName="projectName" placeholder="Project Name" [(ngModel)]="leadsDetails.project_name">
											</div>
										</div>
										<div class="col-md-6 add-leads-form-top-input col-xs-12">
											<div class="form-group">
												<label>Client Name</label>
												<input type="text" class="form-control border-input" [(ngModel)]="leadsDetails.project_client_name" formControlName="clientName" placeholder="Client Name">
											</div>
										</div>
										<div class="col-md-6 add-leads-form-top-input col-xs-12">
											<div class="form-group">
												<label>Email</label>
												<input type="text"  [(ngModel)]="leadsDetails.project_client_email" class="form-control border-input" placeholder="Email" formControlName="email" ngModel="leaddDetails.project_client_email">
											</div>
										</div>
										<div class="col-md-6 add-leads-form-top-input col-xs-12">
											<div class="form-group">
												<label>Contact No.</label>
												<input type="text" class="form-control border-input" [(ngModel)]="leadsDetails.project_client_contact_no" formControlName="clientContact" placeholder="Contact No.">
											</div>
										</div>
										<hr>
										<div class="col-md-6 col-xs-12">
											<div class="col-md-12">
												<h3>Source</h3>
											</div>
											<div class="col-md-12 col-xs-12">
												<div class="form-group">
													<label>Select ProjectSource</label>
													<select name="Source" [(ngModel)]="leadsDetails.project_source" formControlName="source">
														<option value="{{source.source_id}}"  *ngFor="let source of projectSources"  >{{source.source_name}}</option>
													</select>
												</div>
											</div>
										</div>
				
										<div class="col-md-6 col-xs-12">
											<div class="col-md-12">
												<h3>Lead Manager</h3>
											</div>
											<div class="col-md-12 col-xs-12">
												<div class="form-group">
													<label>Select Lead Manager</label>
													<select name="Source" [(ngModel)]="leadsDetails.project_manager_id" formControlName="leadManager">
														<option value="{{user.user_id}}" *ngFor="let user of leadManagers">{{user.user_name}}</option>
													</select>
												</div>
											</div>
										</div>
										<hr>
										<div class="col-md-12 col-xs-12 platform-select-checkboxes">
											<div class="col-md-12">
												<h3>Platform</h3>
											</div>
											<div class="col-md-12 col-xs-12">
												<div class="form-group">
													<div class="col-md-2 col-xs-6" *ngFor="let platform of platforms; index as i">
														<input type="checkbox" [checked]="platform.isChecked" checked name="platform" id="checkbox{{i}}" (change)="onChange($event)" class="css-checkbox" value="{{platform.platform_id}}">
														<label for="checkbox{{i}}"   class="css-label lite-cyan-check">{{platform.platform_name}}</label>
													</div>
												</div>
											</div>
											<hr>
										</div>
										
										
										
										<div class="col-md-6 col-xs-12">
											<div class="col-md-12 col-xs-12">
												<div class="col-md-12 col-xs-12">
													<h3 class="heading-lower">Budget</h3>
												</div>
												<div class="col-md-6 col-xs-6">
													<div class="form-group">
														<label>Select Currency</label>
														<select name="Source" [(ngModel)]="leadsDetails.project_budget_unit" formControlName="currency">
															<option value="{{currency.currency_unit_id}}"  *ngFor="let currency of currency"> {{currency.currency_unit_text}}</option>
														</select>
													</div>
												</div>
												<div class="col-md-6 col-xs-6">
													<div class="form-group">
														<label>Enter Amount</label>
														<input type="text" class="form-control border-input" [(ngModel)]="leadsDetails.project_estimate_budget" formControlName="budget" placeholder="Enter Amount">
													</div>
												</div>
											</div>	
											<div class="col-md-12 col-xs-12">
												<div class="col-md-12 col-xs-12">
													<h3 class="heading-lower">Country</h3>
												</div>
												<div class="col-md-6 col-xs-6">
													<div class="form-group">
														<label>Select Country</label>
														<select name="Source" [(ngModel)]="leadsDetails.country_id" formControlName="country">
															<option value="{{country.country_id}}"  *ngFor="let country of countries">{{country.country_name}}</option>
														</select> 
													</div>
												</div>
												<div class="col-md-6 col-xs-6">
													<div class="form-group">
														<label>Enter City</label>
														<input type="text" [(ngModel)]="leadsDetails.city" formControlName="city" class="form-control border-input" placeholder="Enter City">
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6 col-xs-12 add-leads-textarea">
											<div class="col-md-12 col-xs-12">
												<div class="col-md-12 col-xs-12">
													<h3>Project Description</h3>
												</div>
												<div class="col-md-12 col-xs-12">
													<div class="form-group">
														<textarea formControlName="description" [(ngModel)]="leadsDetails.project_description" name="desc"></textarea>
													</div>
												</div>
											</div>
										</div>
										<hr>
										<div class="row add-leads-submit-button">
											<div class="col-md-4 col-md-offset-4 ">
												<button class="btn btn-success" type="button" (click)="updateLeadDetails()">
													Update
												</button>
											</div>
										</div>	
									</div>
								</form>
							</div>
						</div>
						<div class="col-md-5 call-logs-div" >
							<div class="panel" id="expected-payments-panel">
								<div class="panel-body"> <span class="fa fa-microphone"></span> Progress ( Call Logs )
									<button type="button" [disabled]="editPermission" class="btn pull-right addProgressBtn" data-toggle="modal" data-target="#myProgressModal"><span class="fa fa-list"></span>Add New Progress</button>
								</div>
									<div class="callLogsEntries" >
										<div *ngFor="let log of callLogs">
												<span class="fa fa-clock-o"></span>{{log.project_call_datetime}}
												<a [ngClass]="(editPermission) ? 'inactive-link' : '' " (click)="deleteCallLog(log.project_call_log_id)" class="pull-right"><span class="danger fa fa-trash-o">  </span></a>
												<a [ngClass]="(editPermission) ? 'inactive-link' : '' " (click)="setEditCallLogId(log.project_call_log_id, log.project_call_description)" data-toggle="modal" data-target="#editProgressModal" class="pull-right"><span class="fa fa-edit"></span></a>
												<p>{{log.project_call_description}}</p>
												<p class="callLogBy pull-right"> - {{log.user_name}}</p>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
				</div>
				
				<div class="modal fade" id="myProgressModal" role="dialog">
					<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
							<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h6 class="modal-title">Add New Progress</h6>
							</div>
							<div class="modal-body">
									<form  [formGroup]="progressForm">
											<label for="" class="form-group">Description </label>
											<textarea class="form-control border-input progressTextArea" formControlName="callDesc"></textarea>
									</form>
									<!-- {{progressForm.value | json}} -->
							</div>
							<div class="modal-footer">
									<button type="button" class="btn btn-default" (click)="progressFormSubmit()" >Add Progress</button>
							</div>
					</div>
					
					</div>
				</div>
				
				<div class="modal fade" id="editProgressModal" role="dialog">
					<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
							<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h6 class="modal-title">Edit Call Log</h6>
							</div>
							<div class="modal-body">
									<form  [formGroup]="editCallLogForm">
											<label for="" class="form-group">Description </label>
											<textarea class="form-control border-input progressTextArea" formControlName="callDesc"></textarea>
									</form>
									<!-- {{progressForm.value | json}} -->
							</div>
							<div class="modal-footer">
									<button type="button" class="btn btn-default" (click)="editCalllog()" >Update Call log</button>
							</div>
					</div>
					
					</div>
				</div>
				
				<div class="modal fade" id="updateUpfrontModal" role="dialog">
					<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
							<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h6 class="modal-title">Update Upfront</h6>
							</div>
							<div class="modal-body">
									<form  [formGroup]="upfrontForm" class="upfrontForm">
										<div class="row">
											<div class="col-sm-3">
												<div class="form-group upfrontCurrency">
													<label>Expected Amount </label>
												</div>
											</div>
											<div class="col-sm-3 form-group">
												<select name="Source" [(ngModel)]="leadsDetails.project_budget_unit" formControlName="currency">
													<option value="{{currency.currency_unit_id}}" selected="i == 1" *ngFor="let currency of currency; index as i"> {{currency.currency_unit_text}}</option>
												</select>
											</div>
											<div class="col-sm-6 form-group">
													<input type="text" class="form-control border-input" ngModel="{{leadsDetails.project_payment_amount}}" formControlName="amount" placeholder="Enter Amount">
											</div>
										</div>
										<div class="row">
											<div class="col-sm-3">
												<label for="">Expected Date</label>
											</div>
											<div class="col-sm-9 form-group">
												<input type="date" formControlName="date" ngModel="{{leadsDetails.project_payment_recieved_date}}">
											</div>
										</div>
										<!-- {{upfrontForm.value | json}} -->
									</form>
									<button type="button" class="btn btn-default" (click)="upfrontFormSubmit()" >Submit</button>
							</div>
					</div>
					
				</div>
			</div>
		</div>
		<footer-cmp></footer-cmp>
	</div>
</div>
