<div class="container-fluid">
    <div class="col-md-12 col-sm-12">
		<div class="well well-sm">
			<ul class="breadcrumb">
				<li><a routerLink="/dashboard">Home</a></li>
				<li><a routerLink="/leads">Leads</a></li>
				<li><a routerLink="/allleads">All Leads</a></li>
				<li>Archive Leads</li>
			</ul>
			<a class="pull-right" routerLink="/addleads"><button class="btn btn-info">Add a new lead</button></a>
		</div>
        <div class="panel panel-danger" id="archive-leads-panel">
            <div class="panel-body" ><span class="fa fa-paper-plane"></span>  Archive Leads</div>
            <table class="table table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="2">Project Name</th>
                        <th>Client</th>
                        <th>Payment</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
					<tr>
						<td colspan="2">App development <br>
							<span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
							<br>
							<span class="icon-success"><span class="fa fa-android"></span></span>
						</td>
						<td>   <b>Ram Sharma</b>   <br>
								<span class="text-primary"> <span class="fa fa-envelope"></span> ram.sharma@gmail.com</span> <br>
							<span class="text-info"> <span class="fa fa-mobile-phone"></span> 8763645362</span>    
						</td>
						<td> 
								Est-budget:<b><span class="fa fa-rupee"></span>45000</b> 
						</td>
						<td>
							<span class="label label-warning">Requirement Gathering</span>
							<p> <b>Prachi Agrawal</b> </p>
						</td>
					</tr>
					<tr>
						<td colspan="2">Web and App development <br>
							<span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
							<br>
							<span class="icon-primary"><span class="fa fa-globe"></span></span>
							<span class="icon-success"><span class="fa fa-android"></span></span>
							<span class="icon-info"><span class="fa fa-apple"></span></span>
						</td>
						<td>   <b>Akshat Ghale</b>   <br>
								<span class="text-primary"> <span class="fa fa-envelope"></span> ak.ghale@orkut.com</span> <br>
							<span class="text-info"> <span class="fa fa-mobile-phone"></span> 325356366</span>    
						</td>
						<td> 
								Est-budget:<b><span class="fa fa-rupee"></span>24,25,300</b> 
						</td>
						<td>
							<span class="label label-warning">Ongoing Gathering</span>
							<p> <b>Bhanu Agrawal</b> </p>
						</td>
					</tr>
					<tr>
						<td colspan="2">Web development <br>
							<span class="text-warning"><span class="fa fa-clock-o"></span>Dec 18, 2017</span>
							<br>
							<span class="icon-primary"><span class="fa fa-globe"></span></span>
						</td>
						<td>   <b>Manohar Mishra</b>   <br>
								<span class="text-primary"> <span class="fa fa-envelope"></span> manohar.harhar@gmail.com</span> <br>
							<span class="text-info"> <span class="fa fa-mobile-phone"></span> 4312758793827</span>    
						</td>
						<td> 
								Est-budget:<b><span class="fa fa-dollar"></span>325,000</b> 
						</td>
						<td>
							<span class="label label-warning">Development Ongoing</span>
							<p> <b>Kartika Mishra</b> </p>
						</td>
					</tr>
					<tr>
						<td colspan="2">App development <br>
							<span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
							<br>
							<span class="icon-success"><span class="fa fa-android"></span></span>
						</td>
						<td>   <b>Ram Sharma</b>   <br>
								<span class="text-primary"> <span class="fa fa-envelope"></span> ram.sharma@gmail.com</span> <br>
							<span class="text-info"> <span class="fa fa-mobile-phone"></span> 8763645362</span>    
						</td>
						<td> 
								Est-budget:<b><span class="fa fa-rupee"></span>45000</b> 
						</td>
						<td>
							<span class="label label-warning">Requirement Gathering</span>
							<p> <b>Prachi Agrawal</b> </p>
						</td>
					</tr>
					<tr>
						<td colspan="2">Web and App development <br>
							<span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
							<br>
							<span class="icon-primary"><span class="fa fa-globe"></span></span>
							<span class="icon-success"><span class="fa fa-android"></span></span>
							<span class="icon-info"><span class="fa fa-apple"></span></span>
						</td>
						<td>   <b>Akshat Ghale</b>   <br>
								<span class="text-primary"> <span class="fa fa-envelope"></span> ak.ghale@orkut.com</span> <br>
							<span class="text-info"> <span class="fa fa-mobile-phone"></span> 325356366</span>    
						</td>
						<td> 
								Est-budget:<b><span class="fa fa-rupee"></span>24,25,300</b> 
						</td>
						<td>
							<span class="label label-warning">Ongoing Gathering</span>
							<p> <b>Bhanu Agrawal</b> </p>
						</td>
					</tr>
					<tr>
						<td colspan="2">Web development <br>
							<span class="text-warning"><span class="fa fa-clock-o"></span>Dec 18, 2017</span>
							<br>
							<span class="icon-primary"><span class="fa fa-globe"></span></span>
						</td>
						<td>   <b>Manohar Mishra</b>   <br>
								<span class="text-primary"> <span class="fa fa-envelope"></span> manohar.harhar@gmail.com</span> <br>
							<span class="text-info"> <span class="fa fa-mobile-phone"></span> 4312758793827</span>    
						</td>
						<td> 
								Est-budget:<b><span class="fa fa-dollar"></span>325,000</b> 
						</td>
						<td>
							<span class="label label-warning">Development Ongoing</span>
							<p> <b>Kartika Mishra</b> </p>
						</td>
					</tr>
					<tr>
						<td colspan="2">App development <br>
							<span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
							<br>
							<span class="icon-success"><span class="fa fa-android"></span></span>
						</td>
						<td>   <b>Ram Sharma</b>   <br>
								<span class="text-primary"> <span class="fa fa-envelope"></span> ram.sharma@gmail.com</span> <br>
							<span class="text-info"> <span class="fa fa-mobile-phone"></span> 8763645362</span>    
						</td>
						<td> 
								Est-budget:<b><span class="fa fa-rupee"></span>45000</b> 
						</td>
						<td>
							<span class="label label-warning">Requirement Gathering</span>
							<p> <b>Prachi Agrawal</b> </p>
						</td>
					</tr>
					<tr>
						<td colspan="2">Web and App development <br>
							<span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
							<br>
							<span class="icon-primary"><span class="fa fa-globe"></span></span>
							<span class="icon-success"><span class="fa fa-android"></span></span>
							<span class="icon-info"><span class="fa fa-apple"></span></span>
						</td>
						<td>   <b>Akshat Ghale</b>   <br>
								<span class="text-primary"> <span class="fa fa-envelope"></span> ak.ghale@orkut.com</span> <br>
							<span class="text-info"> <span class="fa fa-mobile-phone"></span> 325356366</span>    
						</td>
						<td> 
								Est-budget:<b><span class="fa fa-rupee"></span>24,25,300</b> 
						</td>
						<td>
							<span class="label label-warning">Ongoing Gathering</span>
							<p> <b>Bhanu Agrawal</b> </p>
						</td>
					</tr>
					<tr>
						<td colspan="2">Web development <br>
							<span class="text-warning"><span class="fa fa-clock-o"></span>Dec 18, 2017</span>
							<br>
							<span class="icon-primary"><span class="fa fa-globe"></span></span>
						</td>
						<td>   <b>Manohar Mishra</b>   <br>
								<span class="text-primary"> <span class="fa fa-envelope"></span> manohar.harhar@gmail.com</span> <br>
							<span class="text-info"> <span class="fa fa-mobile-phone"></span> 4312758793827</span>    
						</td>
						<td> 
								Est-budget:<b><span class="fa fa-dollar"></span>325,000</b> 
						</td>
						<td>
							<span class="label label-warning">Development Ongoing</span>
							<p> <b>Kartika Mishra</b> </p>
						</td>
					</tr>
					<tr>
						<td colspan="2">App development <br>
							<span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
							<br>
							<span class="icon-success"><span class="fa fa-android"></span></span>
						</td>
						<td>   <b>Ram Sharma</b>   <br>
								<span class="text-primary"> <span class="fa fa-envelope"></span> ram.sharma@gmail.com</span> <br>
							<span class="text-info"> <span class="fa fa-mobile-phone"></span> 8763645362</span>    
						</td>
						<td> 
								Est-budget:<b><span class="fa fa-rupee"></span>45000</b> 
						</td>
						<td>
							<span class="label label-warning">Requirement Gathering</span>
							<p> <b>Prachi Agrawal</b> </p>
						</td>
					</tr>
					<tr>
						<td colspan="2">Web and App development <br>
							<span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
							<br>
							<span class="icon-primary"><span class="fa fa-globe"></span></span>
							<span class="icon-success"><span class="fa fa-android"></span></span>
							<span class="icon-info"><span class="fa fa-apple"></span></span>
						</td>
						<td>   <b>Akshat Ghale</b>   <br>
								<span class="text-primary"> <span class="fa fa-envelope"></span> ak.ghale@orkut.com</span> <br>
							<span class="text-info"> <span class="fa fa-mobile-phone"></span> 325356366</span>    
						</td>
						<td> 
								Est-budget:<b><span class="fa fa-rupee"></span>24,25,300</b> 
						</td>
						<td>
							<span class="label label-warning">Ongoing Gathering</span>
							<p> <b>Bhanu Agrawal</b> </p>
						</td>
					</tr>
					<tr>
						<td colspan="2">Web development <br>
							<span class="text-warning"><span class="fa fa-clock-o"></span>Dec 18, 2017</span>
							<br>
							<span class="icon-primary"><span class="fa fa-globe"></span></span>
						</td>
						<td>   <b>Manohar Mishra</b>   <br>
								<span class="text-primary"> <span class="fa fa-envelope"></span> manohar.harhar@gmail.com</span> <br>
							<span class="text-info"> <span class="fa fa-mobile-phone"></span> 4312758793827</span>    
						</td>
						<td> 
								Est-budget:<b><span class="fa fa-dollar"></span>325,000</b> 
						</td>
						<td>
							<span class="label label-warning">Development Ongoing</span>
							<p> <b>Kartika Mishra</b> </p>
						</td>
					</tr>
                </tbody>
            </table>
        </div>
    </div>    
</div>