ul.breadcrumb{
  padding:5px;
  margin:5px;
  background: #fff;
  display:inline-block;
}
.well{
  background:#fff;
}
#archive-leads-panel{
    border:2px solid #dd0330;
  }
  #archive-leads-panel div{
    background: #dd0330;;
    color:#fff;
    font-size:18px;
  }

  #archive-leads-panel table thead tr th{
    font-size:20px;
  }
  #archive-leads-panel table tbody tr td{
    font-size:18px;
    vertical-align: top;
  }
  #archive-leads-panel table tbody tr td span{
    font-size:25px;
  }
  #archive-leads-panel table tbody tr td span.text-warning{
    font-size:18px;
  }
  #archive-leads-panel table tbody tr td span.label-warning{
    font-size:14px;
  }
  #archive-leads-panel table tbody tr td span.text-primary{
    font-size:18px;
  }
  #archive-leads-panel table tbody tr td span.fa-clock-o{
    font-size:18px;
  }
  #archive-leads-panel table tbody tr td span.text-info{
    font-size:18px;
  }
  #archive-leads-panel table tbody tr td span.fa-envelope{
    font-size:18px;
  }
  #archive-leads-panel table tbody tr td span.fa-rupee{
    font-size:18px;
  }
  #archive-leads-panel table tbody tr td span.fa-dollar{
    font-size:18px;
  }
  #archive-leads-panel table tbody tr td span.fa-mobile-phone{
    font-size:18px;
  }