.content form div div{
    padding-left:10px;
}
.submit-btn{
    padding:10px;
}
.emailAuthBlock{
    background: #fff;
    border-radius: 8px;
    padding:5px;
    margin:10px;
    font-size:18px;
    width:95%;
}
.errMsg{
    color:#de3423;
}
.successMsg{
    color:#34df24;
}