    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="card card-user">
                    <div class="image">
                        <img src="/assets/img/background.jpg" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                          <img class="avatar border-white" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/p160x160/16938434_1242818602439971_4934242732013370886_n.jpg?oh=670c4996c3739f48e8dc41096ff3f1a7&oe=5AB92C3C" alt="..."/>
                          <h5 class="title">Bilal Khan<br />
                             <a href="#"><small>@Bilal_khan</small></a>
                          </h5>
                        </div>
                        <p class="description text-center">
                            "I like the way you work it <br>
                            No diggity <br>
                            I wanna bag it up"
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-4">
                                <h5>12<br /><small>Leads</small></h5>
                            </div>
                            <div class="col-md-3">
                                <h5>5<br /><small>Archive leads</small></h5>
                            </div>
                            <div class="col-md-5">
                                <h5> <span class="fa fa-rupee"></span>45,00,000 <br />
                                    <small>Payment Received till Date</small>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="header">
                        <h5 class="title">Edit Profile</h5>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control border-input" placeholder="Company" value="Bilal">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control border-input" placeholder="Last Name" value="Khan">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control border-input" placeholder="Email Address" value="bilal.khan.2901@ebabu.co">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Profile Picture</label>
                                        <input type="file" class="form-control border-input" placeholder="Profile Picture" >
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="header">
                        <h5 class="title">Update Password</h5>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Old Password</label>
                                        <input type="password" class="form-control border-input" placeholder="Old Password">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">New Password</label>
                                        <input type="password" class="form-control border-input" placeholder="New Password"></div>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Repeat New Password</label>
                                        <input type="password" class="form-control border-input" placeholder="Repeat New Password"></div>
                                </div>
                            </div>
                            
                            <div >
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Change Password</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
