<div class="container-fluid">
    <div class="well well-sm">
        <ul class="breadcrumb">
            <li><a routerLink="/dashboard">Home</a></li>
            <li>Dashboard</li>
        </ul>
        <a class="pull-right" routerLink="/addleads"><button class="btn btn-info">Add a new lead</button></a>
    </div>
    
    <div class="col-md-8 col-sm-12" >
        <div class="panel panel-primary" id="dashboard-top-panel" >
            <div class="panel-body " id="dashboard-top-panel-body" > <span class="fa fa-paper-plane"></span> My Leads</div>
        
            <table class="table table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="2">
                             Project Name
                        </th>
                        <th>Client</th>
                        <th>Payment</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">App development <br>
                            <span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
                            <br>
                            <span class="icon-success"><span class="fa fa-android"></span></span>
                        </td>
                        <td>   <b>Ram Sharma</b>   <br>
                             <span class="text-primary"> <span class="fa fa-envelope"></span> ram.sharma@gmail.com</span> <br>
                            <span class="text-info"> <span class="fa fa-mobile-phone"></span> 8763645362</span>    
                        </td>
                        <td> 
                             Est-budget:<b><span class="fa fa-rupee"></span>45000</b> 
                        </td>
                        <td>
                            <span class="label label-warning">Requirement Gathering</span>
                            <p> <b>Prachi Agrawal</b> </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Web and App development <br>
                            <span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
                            <br>
                            <span class="icon-primary"><span class="fa fa-globe"></span></span>
                            <span class="icon-success"><span class="fa fa-android"></span></span>
                            <span class="icon-info"><span class="fa fa-apple"></span></span>
                        </td>
                        <td>   <b>Akshat Ghale</b>   <br>
                                <span class="text-primary"> <span class="fa fa-envelope"></span> ak.ghale@orkut.com</span> <br>
                            <span class="text-info"> <span class="fa fa-mobile-phone"></span> 325356366</span>    
                        </td>
                        <td> 
                                Est-budget:<b><span class="fa fa-rupee"></span>24,25,300</b> 
                        </td>
                        <td>
                            <span class="label label-warning">Ongoing Gathering</span>
                            <p> <b>Bhanu Agrawal</b> </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Web development <br>
                            <span class="text-warning"><span class="fa fa-clock-o"></span>Dec 18, 2017</span>
                            <br>
                            <span class="icon-primary"><span class="fa fa-globe"></span></span>
                        </td>
                        <td>   <b>Manohar Mishra</b>   <br>
                                <span class="text-primary"> <span class="fa fa-envelope"></span> manohar.harhar@gmail.com</span> <br>
                            <span class="text-info"> <span class="fa fa-mobile-phone"></span> 4312758793827</span>    
                        </td>
                        <td> 
                                Est-budget:<b><span class="fa fa-dollar"></span>325,000</b> 
                        </td>
                        <td>
                            <span class="label label-warning">Development Ongoing</span>
                            <p> <b>Kartika Mishra</b> </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-danger" id="all-leads-panel">
            <div class="panel-body" ><span class="fa fa-paper-plane"></span>  All Leads</div>
            <table class="table table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="2">Project Name</th>
                        <th>Client</th>
                        <th>Payment</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td colspan="2">App development <br>
                                <span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
                                <br>
                                <span class="icon-success"><span class="fa fa-android"></span></span>
                            </td>
                            <td>   <b>Ram Sharma</b>   <br>
                                    <span class="text-primary"> <span class="fa fa-envelope"></span> ram.sharma@gmail.com</span> <br>
                                <span class="text-info"> <span class="fa fa-mobile-phone"></span> 8763645362</span>    
                            </td>
                            <td> 
                                    Est-budget:<b><span class="fa fa-rupee"></span>45000</b> 
                            </td>
                            <td>
                                <span class="label label-warning">Requirement Gathering</span>
                                <p> <b>Prachi Agrawal</b> </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Web and App development <br>
                                <span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
                                <br>
                                <span class="icon-primary"><span class="fa fa-globe"></span></span>
                                <span class="icon-success"><span class="fa fa-android"></span></span>
                                <span class="icon-info"><span class="fa fa-apple"></span></span>
                            </td>
                            <td>   <b>Akshat Ghale</b>   <br>
                                    <span class="text-primary"> <span class="fa fa-envelope"></span> ak.ghale@orkut.com</span> <br>
                                <span class="text-info"> <span class="fa fa-mobile-phone"></span> 325356366</span>    
                            </td>
                            <td> 
                                    Est-budget:<b><span class="fa fa-rupee"></span>24,25,300</b> 
                            </td>
                            <td>
                                <span class="label label-warning">Ongoing Gathering</span>
                                <p> <b>Bhanu Agrawal</b> </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Web development <br>
                                <span class="text-warning"><span class="fa fa-clock-o"></span>Dec 18, 2017</span>
                                <br>
                                <span class="icon-primary"><span class="fa fa-globe"></span></span>
                            </td>
                            <td>   <b>Manohar Mishra</b>   <br>
                                    <span class="text-primary"> <span class="fa fa-envelope"></span> manohar.harhar@gmail.com</span> <br>
                                <span class="text-info"> <span class="fa fa-mobile-phone"></span> 4312758793827</span>    
                            </td>
                            <td> 
                                    Est-budget:<b><span class="fa fa-dollar"></span>325,000</b> 
                            </td>
                            <td>
                                <span class="label label-warning">Development Ongoing</span>
                                <p> <b>Kartika Mishra</b> </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">App development <br>
                                <span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
                                <br>
                                <span class="icon-success"><span class="fa fa-android"></span></span>
                            </td>
                            <td>   <b>Ram Sharma</b>   <br>
                                    <span class="text-primary"> <span class="fa fa-envelope"></span> ram.sharma@gmail.com</span> <br>
                                <span class="text-info"> <span class="fa fa-mobile-phone"></span> 8763645362</span>    
                            </td>
                            <td> 
                                    Est-budget:<b><span class="fa fa-rupee"></span>45000</b> 
                            </td>
                            <td>
                                <span class="label label-warning">Requirement Gathering</span>
                                <p> <b>Prachi Agrawal</b> </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Web and App development <br>
                                <span class="text-warning"><span class="fa fa-clock-o"></span>Jan 18, 2018</span>
                                <br>
                                <span class="icon-primary"><span class="fa fa-globe"></span></span>
                                <span class="icon-success"><span class="fa fa-android"></span></span>
                                <span class="icon-info"><span class="fa fa-apple"></span></span>
                            </td>
                            <td>   <b>Akshat Ghale</b>   <br>
                                    <span class="text-primary"> <span class="fa fa-envelope"></span> ak.ghale@orkut.com</span> <br>
                                <span class="text-info"> <span class="fa fa-mobile-phone"></span> 325356366</span>    
                            </td>
                            <td> 
                                    Est-budget:<b><span class="fa fa-rupee"></span>24,25,300</b> 
                            </td>
                            <td>
                                <span class="label label-warning">Ongoing Gathering</span>
                                <p> <b>Bhanu Agrawal</b> </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Web development <br>
                                <span class="text-warning"><span class="fa fa-clock-o"></span>Dec 18, 2017</span>
                                <br>
                                <span class="icon-primary"><span class="fa fa-globe"></span></span>
                            </td>
                            <td>   <b>Manohar Mishra</b>   <br>
                                    <span class="text-primary"> <span class="fa fa-envelope"></span> manohar.harhar@gmail.com</span> <br>
                                <span class="text-info"> <span class="fa fa-mobile-phone"></span> 4312758793827</span>    
                            </td>
                            <td> 
                                    Est-budget:<b><span class="fa fa-dollar"></span>325,000</b> 
                            </td>
                            <td>
                                <span class="label label-warning">Development Ongoing</span>
                                <p> <b>Kartika Mishra</b> </p>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="panel panel-primary payments-today-stats">
            <div class="panel-body"> <span class="fa fa-money"></span> Received Payments Jan-18</div>
            <div class="">
                <div class="payments-entry">
                    <div><img src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/p160x160/16711865_1407883272557098_8935550450212197085_n.jpg?oh=4cb8b0d7239b5adee15f8f79fdc2ac9c&oe=5ACCF0FD" alt="" class="img-rounded"></div>
                    <div class="payment-entry-content">
                        <p><b>Aditi Chaurasia</b></p>
                        <span class="fa fa-inr">45000</span>
                    </div>
                </div>
                <hr>
                <div class="payments-entry">
                    <div><img src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/p160x160/16711865_1407883272557098_8935550450212197085_n.jpg?oh=4cb8b0d7239b5adee15f8f79fdc2ac9c&oe=5ACCF0FD" alt="" class="img-rounded"></div>
                    <div class="payment-entry-content">
                        <p><b>Aditi Chaurasia</b></p>
                        <span class="fa fa-inr">45000</span>
                    </div>
                </div>
                <hr>
                <div class="payments-entry">
                    <div><img src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/p160x160/16711865_1407883272557098_8935550450212197085_n.jpg?oh=4cb8b0d7239b5adee15f8f79fdc2ac9c&oe=5ACCF0FD" alt="" class="img-rounded"></div>
                    <div class="payment-entry-content">
                        <p><b>Aditi Chaurasia</b></p>
                        <span class="fa fa-inr">45000</span>
                    </div>
                </div>
                <hr>
                <div class="payments-entry">
                    <div><img src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/p160x160/16711865_1407883272557098_8935550450212197085_n.jpg?oh=4cb8b0d7239b5adee15f8f79fdc2ac9c&oe=5ACCF0FD" alt="" class="img-rounded"></div>
                    <div class="payment-entry-content">
                        <p><b>Aditi Chaurasia</b></p>
                        <span class="fa fa-inr">45000</span>
                    </div>
                </div>
                <hr>
                <div class="payments-entry">
                    <div><img src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/p160x160/16711865_1407883272557098_8935550450212197085_n.jpg?oh=4cb8b0d7239b5adee15f8f79fdc2ac9c&oe=5ACCF0FD" alt="" class="img-rounded"></div>
                    <div class="payment-entry-content">
                        <p><b>Aditi Chaurasia</b></p>
                        <span class="fa fa-inr">45000</span>
                    </div>
                </div>
                <hr>
                <div class="payments-entry">
                    <div><img src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/p160x160/16711865_1407883272557098_8935550450212197085_n.jpg?oh=4cb8b0d7239b5adee15f8f79fdc2ac9c&oe=5ACCF0FD" alt="" class="img-rounded"></div>
                    <div class="payment-entry-content">
                        <p><b>Aditi Chaurasia</b></p>
                        <span class="fa fa-inr">45000</span>
                    </div>
                </div>
                <hr>
                <div class="payments-entry">
                    <div><img src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/p160x160/16711865_1407883272557098_8935550450212197085_n.jpg?oh=4cb8b0d7239b5adee15f8f79fdc2ac9c&oe=5ACCF0FD" alt="" class="img-rounded"></div>
                    <div class="payment-entry-content">
                        <p><b>Aditi Chaurasia</b></p>
                        <span class="fa fa-inr">45000</span>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="panel" id="expected-payments-panel">
            <div class="panel-body"> <span class="fa fa-money"></span> Today's Expected Payment's</div>
            <div class="payments-entry">
                <div><img src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/c0.0.160.160/p160x160/13590416_864158107051100_8013470578086169655_n.jpg?oh=efe19d4df9f0518c8132a2b9860d0d24&oe=5AD35F85" alt="" class="img-rounded"></div>
                <div class="payment-entry-content">
                    <p><b>Kratika Sharma</b></p>
                    <span class="fa fa-inr">45000</span>
                </div>
            </div>
            <hr>
            <div class="payments-entry">
                <div><img src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/c0.0.160.160/p160x160/13590416_864158107051100_8013470578086169655_n.jpg?oh=efe19d4df9f0518c8132a2b9860d0d24&oe=5AD35F85" alt="" class="img-rounded"></div>
                <div class="payment-entry-content">
                    <p><b>Kratika Sharma</b></p>
                    <span class="fa fa-inr">45000</span>
                </div>
            </div>
            <hr>              
        </div>
        <div class="panel payments-today-stats" >
            <div class="panel-body"> <span class="fa fa-money"></span> This Week's Expected Payment's</div>
            <div class="payments-entry">
                <div><img src="https://media.licdn.com/media/AAEAAQAAAAAAAAgvAAAAJGIzNGE1YjEyLWZjOTgtNGMyNy05ZjcyLWY3ZjYwOTU0YmRiNA.jpg" alt="" class="img-rounded"></div>
                <div class="payment-entry-content">
                    <p><b>Mayank Pratap</b></p>
                    <span class="fa fa-inr">45000</span>
                </div>
            </div>
            <hr>
            <div class="payments-entry">
                <div><img src="https://media.licdn.com/media/AAEAAQAAAAAAAAgvAAAAJGIzNGE1YjEyLWZjOTgtNGMyNy05ZjcyLWY3ZjYwOTU0YmRiNA.jpg" alt="" class="img-rounded"></div>
                <div class="payment-entry-content">
                    <p><b>Mayank Pratap</b></p>
                    <span class="fa fa-inr">45000</span>
                </div>
            </div>
            <hr>              
        </div>
        <div class="panel" id="expected-payments-panel">
            <div class="panel-body"> <span class="fa fa-line-chart">  </span>  Progress</div>
            <h3 class="disabled">Sorry no data found</h3>       
        </div>
    </div>    
</div>